@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding: 30px;
    background-color: #222;
    position: relative;
}
.toggle-button{
    display: none;
}
header h1{
    color: rgb(226, 160, 18);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li {
    margin: 0 10px;
    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 20px;
    font-style: italic;
    &:hover::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        bottom: -5px;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    &:hover {
        transition: color 0.3s;
    }
}
.active{
    display: flex;
    color: burlywood;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 20px;
    font-style: italic;
    &:hover::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        bottom: -5px;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    &:hover {
        transition: color 0.3s;
    }
}
button{
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    background-color:#222;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
}
@media (min-width: 0) and (max-width: 1024px){
    header {
        padding: 20px 5%;
    }
    header h1 {
        font-size: 25px;
        padding-right: 0px;
    }
    .toggle-button {
        display: block;
        cursor: pointer;
        position: relative;
    }
    nav ul {
        flex-direction: row;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #222;
        padding: 10px 0;
    }
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a {
        padding: 10px 20px;
        font-size: 10px;
    }
    .toggle-button::before {
        content: '\2630';
        font-size: 30px;
    }
    .toggle-button.active + ul {
        display: flex;
    }
    .active{
        font-size: 10px;
        display: flex;
    }
}

/*shop*/
.shop-section{
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center; 
    cursor: pointer;
}
.shop-section h2{
    font-size: 36px;
    margin-bottom: 20px;
}
.products{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.product{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.product img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product:hover{
    transform: scale(1.05);
}
.product h3{
    margin-bottom: 10px;
}
.product p{
    margin-bottom: 10px;
}
.product-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    scroll-behavior: smooth;
}
.product-button a{
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    background-color: hsl(16, 100%, 50%);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}
.product-button a:hover{
    background-color:blueviolet;
    color: #ffffff;
    transition:background-color 0.3s;
}

@media (min-width:0) and (max-width: 1024px){
    .shop-section h2{
        font-size: 24px;
        padding: 40px;
    }
    .products{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .product img{
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .product h3{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .product p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .product-button a{
        padding: 5px;
        font-size: 10px;
    }
    
}
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    margin-top: 20px;
}