@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    position: relative;
}
.toggle-button{
    display: none;
}
header img{ 
    width: 150px;
    height: auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li {
    margin: 0 10px;
    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 20px;
    font-style: italic;
    &:hover::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        bottom: -5px;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    &:hover {
        transition: color 0.3s;
    }
}
.active{
    display: flex;
    color: burlywood;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 20px;
    font-style: italic;
    &:hover::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        bottom: -5px;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    &:hover {
        transition: color 0.3s;
    }
}
button{
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    background-color:#222;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}
button span{
    font-size: 10px;
    top: 50%;
    right: -20px;
}
@media (min-width: 0) and (max-width: 1024px){
    header {
        padding: 20px 5%;
    }
    header img{
        margin-left: 100px;
    }
    nav ul {
        flex-direction: row;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #222;
        padding: 10px 0;
    }
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a {
        padding: 10px 20px;
        font-size: 10px;
    }
    .toggle-button::before {
        content: '\2630';
        font-size: 30px;
    }
    .toggle-button.active + ul {
        display: flex;
    }
    .active{
        font-size: 10px;
        display: flex;
    }
}
/*shop*/
.apple h5{
    font-size: 40px;
    text-align: center;
}
.samsung h5{
    font-size: 40px;
    text-align: center;
}
.shop h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.product{
    flex: 0 0 auto;
    width: 276px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}
.product img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product h3{
    font-size: 15px;
    border-bottom: 2px solid black;
}
.product p{
    margin-bottom: 10px;
    font-size: 10px;
    border-top: 2px solid black;
    padding: 2px;
}
.btn button{
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color:#222;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}
.btn button:hover{
    background-color: #444;
}
.product:hover{
    transform: scale(1.05);
}
.apple h5{
    font-size: 40px;
    text-align: center;
}
.samsung h5{
    font-size: 40px;
    text-align: center;
}
.shop h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.product{
    flex: 0 0 auto;
    width: 276px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}
.product img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product h3{
    font-size: 15px;
    border-bottom: 2px solid black;
}
.product p{
    margin-bottom: 10px;
    font-size: 10px;
    border-top: 2px solid black;
    padding: 2px;
}
.btn button{
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color:#222;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}
.btn button:hover{
    background-color: #444;
}
.product:hover{
    transform: scale(1.05);
}
@media (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .product {
        width: 100%;
    }
}
/*cart*/
.cart {
    display: none; 
    position: fixed;
    top: 20%;
    right: 0;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

.cart h2 {
    margin-top: 0;
}

.listcard {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.total, .quantity {
    font-weight: bold;
}

button.clear, button.continueShopping, button.closeshopping {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

button.clear:hover, button.continueShopping:hover, button.closeshopping:hover {
    background-color: #0056b3;
}
@media (min-width: 0) and (max-width: 1024px){
    .cart {
        width: 50%;
        top: 10%;
    }
    .cart h2 {
        font-size: 20px;
    }
    .listcard {
        max-height: 80px;
    }
    button.clear, button.continueShopping, button.closeshopping {
        size: 10px;
        font-size: 10px;
    }
    
}