*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding: 30px;
    background-color: #222;
    position: relative;
}
.toggle-button{
    display: none;
}
header h1{
    color: rgb(226, 160, 18);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li {
    margin: 0 10px;
    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 20px;
    font-style: italic;
    &:hover::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: lightgreen;
        bottom: -5px;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    &:hover {
        transition: color 0.3s;
    }
}
button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover{
        background-color: blueviolet;
        transition: background-color 0.3s;
    }
}
@media (min-width: 0) and (max-width: 1024px) {
header {
    padding: 20px 5%;
}
header h1 {
    font-size: 25px;
    padding-left: 110px;
}
.toggle-button {
    display: block;
    cursor: pointer;
}
nav ul {
    flex-direction: row;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222;
    padding: 10px 0;
}
nav ul li {
    margin: 10px 0;
}
nav ul li a {
    padding: 10px 20px;
    font-size: 20px;
}
.toggle-button::before {
    content: '\2630';
    font-size: 30px;
}
.toggle-button.active + ul {
    display: flex;
}
}
.heading{
    text-align: center;
    margin: 20px 0;
    padding: 40px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightblue;
    font-style: italic;
}
@media (max-width: 768px) {
    .heading {
        font-size: 25px;
    }
    
}