@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding: 30px;
    background-color: #222;
    position: relative;
}
header h1{
    color: rgb(226, 160, 18);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}
button{
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    background-color:#222;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}
@media (min-width: 0) and (max-width: 1024px){
    header {
        padding: 20px 5%;
    }
    header h1 {
        font-size: 25px;
        padding-right: 0px;
    }
}

.samsung-galaxy-s23-fe{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

.samsung-galaxy-s23-fe1{
    display: flex;
    margin-top: 70px;
    margin-left: 250px;
    float: left;
}

.spec{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
}

.spec{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
}

.related{
    margin-top: 650px;
    margin-left: 50px;
}

.related-products{
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.imageS23ultra{
    margin-top: 7px;
    margin-left: 63px;
}

.imageS24fe{
    margin-top: 7px;
    margin-left: 50px;
    
}

.images24ultra{
    margin-top: 7px;
    margin-left: 50px;
}
